@{
    ViewData["Title"] = "Domovská stránka";
}

<div class="text-center">
    <h1 class="display-4">Best Club 4 You</h1>
    <p class="mt-4">
        <a href="@Url.Action("SearchClubs", "Club")" class="btn btn-primary btn-lg shadow-sm" style="font-size: 1.5rem; padding: 10px 30px;">
            Vyhledat kluby
        </a>
    </p>
</div>